
$rojo: yellow;


//TIPOGRAFIA
$fuente_principal:'Montserrat',sans-serif;

//COLORES
$principal: #86b1c6;
$secundario: #736bfe;
$tercero: #f3f3f3;
$cuarta:#616393;
$parrafo: #474747;
$bg-footer: #1e1e44;
//COLORES MASSAGE
$titulo-header: #003762;
$masaje-contendito: #6968a2;
$btn-masaje: #ae94db;


// Tamaño de Media Queries
$minitelefono: 360px;
$telefono: 480px;
$tablet: 768px;
$ipad: 810px;
$desktop: 1024px;
$monitor: 2500px;
$pantalla: 2900px;


// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

$separacion: 5rem;

$transition: all 400ms ease;