//H1 TITULO PRINCIPAL
.titulo-principal{
    padding: 3rem;
    @include telefono{
        padding: 12rem 0 0 0;
    }
}

.btn-quienes{
    width: 300px;
    h4{
        background: #fff;;
        border-radius: 10px;
        border: 2px solid $secundario;
        color: $secundario;
        padding: 1rem 6rem;
        position: absolute;
        @include desktop{
            bottom: -5rem;
        }
        @include tabletDos{
            bottom: 10rem;
        }
        @include telefono{
            bottom: -22rem;
            padding: 1rem;
            left: 6rem;
        }
    }
    text-align: center;
}
// MAIN
.contenido__main{
    .parrafo__uno{
        align-items: center;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-areas: " imagen parrafoUno";
        @include telefono{
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            grid-template-areas:  
            " imagen"
            " parrafoUno";
        }

        picture{
            grid-area: imagen;
            align-self: center;
            @include telefono{
                width: 200px;
                margin: 0 auto;
            }
        }

        p{
            grid-area: parrafoUno;
            @include telefono{
                text-align: justify;
            }
        }
    }

    p{
        color: $parrafo!important;
    }
}
.main{
    p{
        color: white;

    }
}
.parrafo__dos{
    background-color: $tercero;
    
    .parrafo__dos-texto{
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: "parrafoDos imagenDos";
        @include telefono{
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            grid-template-areas:  
            " imagenDos"
            " parrafoDos";
        }
        align-items: center;
        padding: 2rem;

        p{
            color: $parrafo;
            grid-area: parrafoDos;
            @include telefono{
                text-align: justify;
            }
        }
        picture{
            grid-area: imagenDos;
            @include telefono{
                width: 200px;
                margin: 0 auto;
            }
            
        }
    }
}

.main-grid{
    p{
        color: white;
    }

    .main-grid_texto{
        color: white;
    }
}

//COMPROMISOS CON EL PACIENTE SECTION
.compromisos__contenedor{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "compromisoUno compromisoDos";
    align-items: center;
    background-image: url(/build/img/Circulo.webp);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 90rem 3rem;
    @include tablet{
        grid-template-columns: 150px 1fr;
        // background-position: 48rem 3rem;
    }
    @include telefono{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
            "compromisoUno"
            "compromisoDos";
        background-position: 6rem 29rem;
    }

    picture{
        grid-area: compromisoUno;
        width: 200px;
        margin: 0 auto;
    }


}
.compromisos__contenedor-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: compromisoDos;

    h2{
        margin: 2rem;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;

        li{
            color: $parrafo;
        }
    }
}

//VALORES 
.contenedor__valores{
    display: grid;
    grid-template-columns: 90rem 27.5rem;
    grid-template-areas: "mision valores";
    @include tabletDos{
        grid-template-columns: 52rem 27.5rem;
        margin-top: 5rem;
    }
    @include telefono{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 190px;
        grid-template-areas: 
            "mision"
            "valores";
    }
}
.contenedor__valores-uno{
    // border: 1px solid red;
    border-right: 3px solid $parrafo;
    grid-area: mision;
    @include telefono{
        border: none;
    }
}
.contenedor__valores-dos{
    grid-area: valores;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0 0 0 5rem;
        @include telefono{
            flex-direction: row;
            gap: 1rem;
            margin: 0 0 0 -4.5rem;
        }
        
        li{
            color: $parrafo;
        }
    }
}

.mision{

    .mision--titulo{
        display: flex;
        align-items: baseline;
        gap: 3rem;
        h3{
            padding: 0;
            margin: 0;
        }

        picture{
            width: 13%;
            height: 50%;
        }
    }
    p{
        width: 85%;
        text-align: justify;
        color: $parrafo;
    }
}

.vision{

    .vision--titulo{
        display: flex;
        align-items: center;
        gap: 3rem;
        h3{
            padding: 0;
            margin: 0;
        }

        picture{
            width: 13%;
            height: 50%;
        }
    }
    p{
        width: 85%;
        text-align: justify;
        color: $parrafo;
    }   
}

// =============LESIONES =================
.contenedor__lesiones{
    background-image: url(/build/img/BannerInferior-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    @include tabletDos{
        background-position: -75rem 0rem;
    }
    @include telefono{
        background-position: -120rem 0rem;
        height: 60rem;

    }
}
.contenido--lesiones{
    // border: 3px solid red;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
        // width: 18rem;
        color: $tercero;
        margin: 3rem;
        padding: 0;

        span{
            color: $secundario;
            font-weight: bold;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;

        li{
            line-height: 1;
            list-style: none;

            p{
                color: $secundario;

                span{
                    color: $tercero;
                }
            }
        }
    }
}

// ================REDES SOCIALES SEGURO GASTOS=======================
.redes{
    width: 600px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0 auto;

    @include telefono{
        width: 360px;
    }
}
.seguro-gastos{
    margin: 0 auto;
    width: 460px;
    display: flex;
    justify-content: space-between;

    @include telefono{
        font-size: 1.3rem;
        justify-content: center;
        width: 360px;
    }
    a{
        color: $parrafo;

        &:hover{
            color: $secundario;
        }
    }
}