.btn-quienes{
    width: 300px;
    h4{
        background: #fff;;
        border-radius: 10px;
        border: 2px solid $secundario;
        color: $secundario;
        padding: 1rem 6rem;
        position: absolute;
        @include desktop{
            bottom: -5rem;
        }
        @include tabletDos{
            bottom: 10rem;
        }
        @include telefono{
            bottom: -22rem;
            padding: 1rem;
            left: 6rem;
        }
    }
    text-align: center;
}
.titulo-principal{
    padding: 3rem;
}
.contenido__main{
    .parrafo__uno{
        display: grid;
        grid-template-columns: 250px 1fr;
        align-items: center;
    }

    p{
        color: $parrafo!important;
    }
}
.main{
    p{
        color: white;

    }
}
.parrafo__dos{
    background-color: $tercero;
    
    .parrafo__dos-texto{
        display: grid;
        grid-template-columns: 1fr 250px;
        align-items: center;
        padding: 2rem;

        p{
            color: $parrafo;
        }
    }
}

.main-grid{
    p{
        color: white;
    }

    .main-grid_texto{
        color: white;
    }
}